body {
    font-family: Arial;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
}

form {
    padding-top: 30px;
    text-align: center;
}

input[type="text"] {
	width: 400px;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid #4DB0D1;
}

input[type="checkbox"] {
	font-size: 20px;
}


.form-button {
	padding-top: 30px;
}

.button-add {
    font-size: 15px;
    background-color: #4DB0D1;
    color: white;
    padding: 10px;
    border: 1px gray solid;
    border-radius: 5px;
    box-shadow: -0.5px 1px 3px #75C5E0;
}

.mytodos {
    text-align: center;
    padding: 5px;
}

.strikethrough:checked + label {
    text-decoration: line-through;
    color: gray;
}